#navbar-font-link {
    color:aliceblue;
    font-size: medium;
    padding-left: 0;
    padding-right: 15px;
}
#navbar-icon {
    padding-top: 8px;
    padding-left: 0;
    padding-right: 15px;
    padding-bottom: 8px;
}
#navbar-icon-with-text {
    margin-right:5px;
}